<div class="header container">
    <h1><a href="/">News Agregator</a></h1>
</div>
<div class="container home">
    <h2>Choose news service from the list</h2>
    <hr>
    <div class="body">
        <h3><a href="/news/list/pravda">Pravda.com</a></h3>
        <h3><a href="/news/list/mtimes">The Moscow Times</a></h3>
    </div>
</div>